* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*Encabezado con el logo*/
body{
    margin: 0px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    height: 95px;
    background-image: linear-gradient(to bottom right, #eee5b1, #4cac6e);
    align-items: center;
    padding: 5px;
    color: #3d6149;
}
.tit h1{
    font-size: 50px;
    font-weight: 650;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.logo img{
    width: 80px;
    height: 80px;
    margin-right: 0px;
    margin-top: auto;
}
nav a{
font-weight: 700;
color: #4cac6a;
margin-right: 10px;
}